#wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: none;
}
.modal-backdrop {
  z-index: auto;
}
.close {
  color: darkgray !important;
}
.btn {
  margin-top: 7px;
}
body {
  background-color: #f7f7f7;
  min-height: 100%;
  background-color: #f26b62;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.86'%3E%3Ccircle fill='%23f26b62' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f47369' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f57a70' cx='50' cy='100' r='50'/%3E%3Cg fill='%23f78277' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f8897f' cx='50' cy='200' r='50'/%3E%3Cg fill='%23f99086' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fa988d' cx='50' cy='300' r='50'/%3E%3Cg fill='%23fb9f95' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fca69c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23fdada4' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fdb4ab' cx='50' cy='500' r='50'/%3E%3Cg fill='%23febbb3' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fec2bb' cx='50' cy='600' r='50'/%3E%3Cg fill='%23fec9c2' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fdd0ca' cx='50' cy='700' r='50'/%3E%3Cg fill='%23fdd7d2' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fcddda' cx='50' cy='800' r='50'/%3E%3Cg fill='%23fce4e2' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fbebea' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f9f2f2' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f8f9fa' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}
p {
  display: block;
  text-align: center;
}
#imeKompanija {
  text-align: center;
}
#pozicija {
  color: blue;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.login-cover {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 5px solid transparent;
  border-top: 5px solid salmon;
  border-left: 5px solid salmon;
  border-right: 5px solid salmon;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
  -webkit-animation: spin 0.65s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.mw-100 {
  transition: 0.6s;
  background-color: #ffff;
  min-width: 100%;
}
.mw-100:hover {
  opacity: 0.7;
  cursor: pointer;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 3px 31px 6px rgba(0, 30, 255, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 3px 31px 6px rgba(0, 30, 255, 0);
}
.text-justify {
  white-space: break-spaces;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
