#wrapper{
  
position: relative;
width: 1400px;
height: 768px;
margin: auto;
background: #f7f7f7;
display:none;
}
header{
    position: absolute;
    width: 1400px;
    height: 100px;
    left: 0px;
    top: 0px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 106.67%;
    /* or 15px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    
    
    color: #000000;
    
    }
    nav{
        position: absolute;
    width: 568.14px;
    height: 54px;
    left: 900px;
    top: 60px;
    border-spacing: 10px;
   
    }
    #logoto{
        position: absolute;
        top:20px; 
        left:60px;
        transition: 0.5s;
    }
    #logoto:hover{
       top:10px;
     width:188px; 
     height:70px;
     -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;

 }
    .spinner-border{
        border-color:salmon;
        border-right-color: transparent;
    }
    .login-cover{
        background: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 800;
        
          display: flex;
          justify-content: center;
          align-items: center;
       
      }
      #firmite,#kontakt1,#praktikanti,#objavi,#najava{
        transition: 0.5s;
    
    }
    #firmite{
        position: absolute;
        width: 85px;
        padding-bottom: 10px;
        border-bottom: 5px solid salmon;
        height: 0px;
        left: -300px;
        top: 0px;
        font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 106.67%;
        /* or 15px */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.03em;
        
        color: #000000;
         text-decoration: none;
        }
        
        #praktikanti{
            position: absolute;
            width: fit-content;
            height: 0px;
            left: -150px;
            top: 0px;
            font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 106.67%;
        /* or 15px */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.03em;
        
        color: #000000;
        text-decoration: none;
            }
            #objavi{
                position: absolute;
                width: 142.03px;
                height: 0px;
                left: 0px;
                top: 0px;
                font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 106.67%;
        /* or 15px */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.03em;
        
        color: #000000;
        text-decoration: none;
                }
                #najava{
                    position: absolute;
                    width: 142.03px;
                    height: 0px;
                    left: 190px;
                    top: 0px;
                    font-family: Century Gothic;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 106.67%;
                    /*  or 15px */
                    
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: -0.03em;
                    
                    color: #000000;
                    text-decoration: none; 
                } 
            #vector{
                position: absolute;
                width: 1400px;
                height: 768px;
                left: 0px;
                top: 120px;
                background: #ffffff;
                }
                #Dobredojdovte {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    height: 83px;
                    top: 18%;
                    font-family: Century Gothic;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 106.67%;
                    letter-spacing: -0.03em;
                    color: #000000;
                }
                .navbar{
                    display:none;
                }
                #para1 {
                    position: absolute;
                    width: 100%;
                    padding: 0 26%;
                    height: 89px;
                    /* left: 340px; */
                    top: 26%;
                    font-family: Century Gothic;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 185.67%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: -0.03em;
                    color: #000000;
                }

footer {
    position: absolute;
    width: 1469.73px;
    height: 471.04px;
    left: 0px;
    bottom: 0px;
    background-image: url(Vector1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.button {
    position: absolute;
    top: 39%;
    left: 39.5%;
    display: inline-block;
    border-radius: 4px;
    background-color: #59C7D6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 27px;
    padding: 20px;
    width: 260px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }



#ajde{
    position: absolute;
width: 630.53px;
height: 83px;
left: 410px;
top: 136px;


font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 106.67%;
/* or 26px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;

color: #FFFFFF;

}
#para2{
position: absolute;
width: 620px;
height: 89px;
left: 380px;
top: 213px;

font-family: Century Gothic;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 106.67%;
/* or 19px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;

color: #FFFFFF;


}
#registriraj{

    position: absolute;
    width: 243.91px;
    height: 55.03px;
    left: 550px;
    top:  250px;
   
   
   
    background: #59C7D6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.45);
     border-radius: 8px; 


 font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 106.67%;
/* or 19px */


color: #FFFFFF;

}
#firmite:hover{
    width: 85px;
    padding-bottom: 10px;
    border-bottom: 5px solid salmon;
}
#praktikanti:hover{
    width: 105px;
    padding-bottom: 10px;
    border-bottom: 5px solid salmon;
}
#objavi:hover{
    top: -10px;
    padding-bottom: 20px;
    border-bottom: 5px solid salmon;
}
#najava:hover{
    top: -10px;
    padding-bottom: 20px;
    border-bottom: 5px solid salmon;
}
#izlezi{
    display:none;
}
#firmite1{
    display:none;
}

#praktikanti1{
    display:none;
}
#objavi1{
    display:none;
}
#najava1{
    display:none;
}
div{
    overflow-x: hidden; 
    overflow-y: hidden; 
}
#fbslika{
    position: absolute;
    left: 600px;
    top: 316px;
}
#instaslika{
    position: absolute;
    left: 660px;
    top: 316px;
}
#fbslika:hover{
    position: absolute;
    left: 600px;
    width: 50px;
    height: 50px;
    bottom: -90px;
}
#instaslika:hover{
    position: absolute;
    left: 660px;
    width: 50px;
    height: 50px;
    bottom: -90px;
}
.img1{
    display: none;
}
body{
    overflow-x:hidden;
    margin:0;
    background: linear-gradient(285.95deg, #F47A61 2.29%, #F15F61 90.59%);
}
#kontakt1 {
    position: absolute;
    top: -4px;
    left: -492px;
    text-decoration: none;
    color: black;
    font-family: Century MONOSPACE;
    font-size: 17px;
    font-weight: bold;
}
#kontakt1:hover{
    padding-bottom: 1px; 
    border-bottom: 5px solid salmon;
}
.popup{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0.8;
    background-color: #FFFFFF;
    display:none;
}
#dialog {
    position: absolute;
    right: 35%;
    top: 27%;
    width: 462px;
    height: 35%;
    background-color: salmon;
    font-family: Century Gothic;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 85px;
    border-radius: 8px;
    color: #f7f7f7f7;
    display: none;
}
#kompanija{
   
    position: absolute;
    width: 195.91px;
    height: 55.03px;
    left: 25px;
    bottom: 35px;
    background: #59C7D6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.45);
     border-radius: 8px; 
 font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 106.67%;
/* or 19px */
color: #FFFFFF;
}
#praktikant{
   
    position: absolute;
    width: 195.91px;
    height: 55.03px;
    right: 25px;
    bottom: 35px;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.45);
     border-radius: 8px; 
 font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 106.67%;
/* or 19px */
color:  #59C7D6;
}
#praktikant:hover{
    color: #FFFFFF;
    background:yellowgreen; 
}
#kompanija:hover{
    color: #FFFFFF;
    background:yellowgreen; 
}
#nazad {
    position: absolute;
    right: 17px;
    top: 4px;
    font-size: 24px;
    cursor:pointer;
}
@media (min-width: 1420px) and (max-width: 1600px){
    #wrapper{
        position:fixed;
      width: 100%;
      height: 100%;
    }
  #vector{
      width: 1600px;
  }
    #najava {
        all: unset;
        position: fixed;
        right: 10%;
        display: flex;
        width: 142.03px;
    height: 0px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 106.67%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    text-decoration: none;
    }
    #objavi {
        all: unset;
        position: fixed;
        right: 20%;
        width: 142.03px;
    height: 0px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 106.67%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    text-decoration: none;
    }
    #praktikanti {
        all: unset;
        position: fixed;
        right: 32%;
        
    }
    #firmite {
        all: unset;
        position: fixed;
        right: 42.5%;
        border-bottom: 5px solid salmon;
    }
    #firmite:hover{
    width: 85px;
    padding-bottom: 1px;
    border-bottom: 5px solid salmon;
}
#praktikanti:hover{
    width: 105px;
    padding-bottom: 1px;
    border-bottom: 5px solid salmon;
}
#objavi:hover{
    top: 50px;
    padding-bottom: 20px;
    border-bottom: 5px solid salmon;
}
#najava:hover{
    top: 50px;
    padding-bottom: 20px;
    border-bottom: 5px solid salmon;
}
#Dobredojdovte{
    all:unset;
    position: fixed;
    
    left: 37%;
    top: 22%;
    
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 106.67%;
    /* or 38px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    
    color: #000000;
    
}
#para1 {
    all:unset;
    position: fixed;
    width: 664px;
    height: 89px;
    left: 30%;
    top: 28%;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130.67%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
}
#ajde {
    all:unset;
    position: fixed;
    width: 630.53px;
    height: 83px;
    left: 35%;
    top: 64%;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 106.67%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
#para2 {
    position: fixed;
    width: 620px;
    height: 158px;
    left: 33%;
    top: 70%;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 106.67%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.button{
    left: 43%;
}
#fbslika {
    position: fixed;
    left: 48%;
    top: 89%;
}
#instaslika {
    position: fixed;
    left: 52%;
    top: 89%;
}
#fbslika:hover{
    position: fixed;
    left: 48%;
    top: 89%;
    width: 50px;
    height: 50px;
    bottom: -90px;
}
#instaslika:hover{
    position: fixed;
    left: 52%;
    top: 89%;
    width: 50px;
    height: 50px;
    bottom: -90px;
}
footer {
    height: 56%;
    width:100%;
}
  #kontakt1{
    position: fixed;
    top: 61px;
    left: auto;
    right: 52%;
    width: fit-content;
    
  }
}


@media screen and (max-width: 430px){
    #logoto{
        position: absolute;
        top: -6px;
        left: 87px;
    }
    .navigation{
        position: absolute;
        top:50px;
        left: 0px;
        width: 430px;
        height: 30px;
        background-color:#59C7D6;
        cursor:pointer;
    }
    .img1{
        position: absolute;
        left:5px;
        display:block;
    }
    .meni{
        position: absolute;
        top: 49px;
        left: 0px;
        width: 436px;
        height: 285px;
        background-color:#59C7D6;
        overflow-wrap: normal;
        display: none;
    }
    #izlezi{
        position:absolute;
        width:425px;
        left:10px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        display: none;
    }
    #izlezi:hover{
        color:#FFFFFF;
    }
    #firmite{
        display: none;
        }
         #praktikanti{
             display: none;
         }   
         #objavi{
             display: none;
         }
         #najava{
             display: none;
         }
    #firmite1{
        position:absolute;
        width:425px;
        top:50px;
        left:10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        color:black;
        text-decoration: none;
        font-size: 18px;
        cursor: pointer;
        }
        #firmite1:hover{
            color:#FFFFFF;
        }
        
        #praktikanti1{
            position:absolute;
            width:425px;
            top:100px;
            left:10px;
            padding-bottom: 10px;
            border-bottom: 1px solid black;
            font-family: Century Gothic;
            font-style: normal;
            font-weight: bold;
            color:black;
            text-decoration: none;
            font-size: 18px;
            cursor: pointer;
            }
            #praktikanti1:hover{
                color:#FFFFFF;
            }
         
            #objavi1{
                position:absolute;
                width:425px;
                top:150px;
                left:10px;
                padding-bottom: 10px;
                border-bottom: 1px solid black;
                font-family: Century Gothic;
                font-style: normal;
                font-weight: bold;
                color:black;
                text-decoration: none;
                font-size: 18px;
                cursor: pointer;
                }
                #objavi1:hover{
                    color:#FFFFFF;

                }
                #najava1{
                    position:absolute;
                    width:425px;
                    top:200px;
                    left:10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid black;
                    font-family: Century Gothic;
                    font-style: normal;
                    font-weight: bold;
                    color:black;
                    text-decoration: none;
                    font-size: 18px;
                    cursor: pointer;
                    }
                    #najava1:hover{
                        color:#FFFFFF;
    
                    }
    #wrapper{
        /* position: relative; */
        width: 100%;
        height: 812px;
        margin: 0 auto;
        background: #F7F7F7;
    }
    #vector{
        position: absolute;
        top: 50px;
        left: 0px;
        width:100%;
        height: 100%;
    }
    .button {
        position: absolute;
        top: 32%;
        left: auto;
        right: 14%;
    }
    #Dobredojdovte{
        top: 11.8%;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    #para1 {
        position: absolute;
        top: 144px;
        left: 0px;
        width: 100%;
        font-size: 16px;
        line-height: 140%;
        padding: 0 7%;
    }
    #ajde{
        position: absolute;       
        top: 15%;
        left: auto;
    right: 40%;
        width: 300px;
        font-size: 18px;
    }
    #para2 {
        position: absolute;
        top: 155px;
        left: 0px;
        width: 68%;
        font-size: 18px;
    }
    body{
        height: 200px;
        overflow-x: auto;
    }
    header{
        width:100%;
    }
    footer {
        height: 65%;
        width: 147%;
        bottom: 0px;
        background-size: 100% 100%;
    }
    #fbslika{
        position: absolute;
        left: auto;
        top: 270px;
        right: 66%;
    }
    #instaslika {
        position: absolute;
        left: auto;
        right: 57%;
        top: 270px;
    }
    #fbslika:hover{
        position: absolute;
      left: auto;
     top: 260px;
        width: 50px;
        height: 50px;
        bottom: -90px;
    }
    #instaslika:hover{
        position: absolute;
        left: auto;
        right: 55%;
        top: 260px;
        width: 50px;
        height: 50px;
        bottom: -90px;
    }
    #kontakt1{
        position:absolute;
        width:425px;
        top: 245px;
        left:10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        color:black;
        text-decoration: none;
        font-size: 18px;
        cursor: pointer;
        display: block;
        }
        #kontakt1:hover{
            width:425px;
            color:#FFFFFF;
            padding-bottom: 10px;
            border-bottom: 1px solid black;
        }
        #dialog {
            position: absolute;
            left: 8%;
            top: 27%;
            width: 84%;
            height: 34%;
            background-color: salmon;
            padding-top: 47px;
            padding-left: 14px;
            align-items: center;
        }
        #kompanija{
           position:initial;
           margin:10px;
        }
        #praktikant{
            position:initial;
            margin:5x;
        }
        #logoto{
            display:none;
        }  
        nav{
            all:unset;
        }
        .navbar{
            position:fixed;
            width: -webkit-fill-available;
            display: flex;
            top: 0;

        }


}
@media screen and (max-width: 350px){
body{
    overflow-x:auto;
    overflow-y: auto;

}
.button{
    width: 245px;
    right: 11%;
    padding: 18px;
    font-size:25px;
    top:33%;
}
#para1{
    line-height: 129%;
}
#ajde{
    right: 34%;
}
#fbslika{
    right: 67%;
}
}

/* @media screen and (max-width: 800px){
    body{
        overflow-x:auto;
    }
    } */