.iframe-button{
    display: none;
}
#pokani{
    position: absolute;
    left: 558px;
    top: 314px;
    width: 201.76px;
    height: 50px
}
#pokani1{
    position: absolute;
    left: 716px;
    top: 1549px;
    width: 201.76px;
    height: 50px
}
