#wrapper {
  position: relative;

  margin: 0 auto;
  background: #ffffff;
  display: none;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.sm-Device.ad-1 {
  background-image: url("../../images/court.jpeg");
  background-size: cover;
  font-size: 25px;
  color: white !important;
}
.sm-Device.ad-2 {
  background-image: url("../../images/praksa-blog.png");
  background-size: cover;
  filter: blur();
  font-size: 25px;
  min-height: 220px;
}
#logoto:hover {
  top: 10px;
  width: 188px;
  height: 70px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#objavi {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 106.67%;
  /* or 15px */
  letter-spacing: -0.03em;

  color: #000000;
  text-decoration: none;
}
#najava {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 106.67%;
  /* or 15px */
  letter-spacing: -0.03em;
  color: #000000;
  text-decoration: none;
}
#objavi,
#najava {
  transition: 0.5s;
}
#korisnicki {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 106.67%;
  /* or 26px */
  letter-spacing: -0.03em;

  color: #000000;
}

#nav1,
#nav2,
#nav3 {
  transition: 0.5s;
}
.login-cover {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid salmon;
  border-left: 5px solid salmon;
  border-right: 5px solid salmon;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
  -webkit-animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#centar {
  left: 60px;
  top: 0px;

  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 106.67%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}
#hr {
  width: 184px;
  height: 8px;
  left: 60px;
  top: 178px;

  background: #59c7d6;
}
.aktivni {
  width: 785px;
  height: 247px;
  left: 60px;
  top: 212px;
  background: #ffffff;
}
#akoglasi {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 106.67%;
  letter-spacing: -0.03em;
  color: #000000;
}
#vector {
  min-height: 59vw;
  background: #ececec;
}

#marketer {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 100%;
  /* or 14px */

  letter-spacing: -0.03em;

  color: #142757;
}
#button {
  width: 153px;
  height: 42px;

  background: #59c7d6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 106.67%;
  /* or 15px */

  letter-spacing: -0.03em;

  color: #ffffff;
  transition: 0.5s;
}
#button:hover {
  color: #59c7d6;
  background: #ffff;
  cursor: pointer;
}
#site {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 106.67%;
  /* or 15px */
  display: flex;
  letter-spacing: -0.03em;
  text-decoration-line: underline;

  color: #000000;
  transition: 0.5s;
}
#site:hover {
  font-size: 15px;
  color: blue;
}
.aktivni1 {
  width: 785px;
  height: 247px;
  left: 60px;
  top: 480px;
  background: #ffffff;
}
#marketer1 {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* or 14px */

  letter-spacing: -0.03em;

  color: rgba(0, 0, 0, 0.43);
}
.aktivni2 {
  width: 785px;
  height: 247px;
  left: 60px;
  top: 750px;
  background: #ffffff;
}
#divaider {
  width: 245px;
  height: 247px;
  left: 870px;
  top: 212px;
  background: #ffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid;
}
#zakon {
  color: white;
  font-weight: bolder;
  transition: 0.5s;
}
.ad-1 a {
  color: white !important;
  transition: 0.5s;
}
#zakon:hover,
.ad-1 a:hover {
  font-size: 2rem;
}
#divaider1 {
  width: 245px;
  height: 247px;
  left: 870px;
  top: 480px;

  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border: 1px dashed;
}
#brMoiOglasi {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  width: 150px;
  font-size: 19px;
  line-height: 100%;
  /* or 14px */
  color: #142757;
}
span {
  padding-left: 5px;
}
#objavi:hover {
  color: #59c7d6;
  border-bottom: 1px solid #59c7d6;
  padding-bottom: 8px;
}
#najava:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
#nav1:hover {
  border-bottom: 8px solid #59c7d6;
}
#nav2:hover {
  border-bottom: 8px solid #59c7d6;
}
#nav3:hover {
  border-bottom: 8px solid #59c7d6;
}
@media screen and (max-width: 430px) {
  #horzNav {
    left: 60px;
  }
  #najava {
    left: 167px;
  }
  #hr {
    display: none;
  }

  #nav {
    left: 24px;
    width: 140px;
    border-bottom: 8px solid #59c7d6;
  }
  #nav1 {
    width: 140px;
    left: 182px;
  }
  #centar {
    left: 39px;
  }
  #nav2 {
    left: 24px;
    top: 53px;
    width: 140px;
  }
  #nav3 {
    left: 182px;
    top: 53px;
    width: 140px;
  }
  .aktivni {
    width: 330px;
    height: 247px;
    left: 15px;
    top: 222px;
    background: #ffffff;
  }
  #marketer {
    width: 296px;
  }
  #hr1 {
    width: 328px;
  }
  #hr2 {
    width: 217px;
  }
  #button {
    left: 17px;
    top: 190px;
  }
  #site {
    left: 195px;
    top: 192px;
  }
  .aktivni1 {
    left: 13px;
    width: 330px;
  }
  .aktivni2 {
    left: 13px;
    width: 330px;
  }
  #divaider {
    left: 54px;
    top: 1011px;
  }
  #divaider1 {
    left: 54px;
    top: 1278px;
  }
  .sm-Device {
    margin: 10px;
    min-height: 225px;
  }
}
