* {
  padding: 0;
  margin: 0;
}
body {
  /* background: linear-gradient(272.61deg, #f47a61 17.29%, #f15f61 75.59%); */
  text-align: center;
  /* font-family: 'Comfortaa', cursive; */
  /* overflow-y: hidden;
    overflow-x: hidden; */
  font-family: "Century Gothic", Qartella, sans-serif;
  font-size: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: #f7f7f7;
}
/* LANDING HOME PAGE */
.landing {
  background-image: url("./images/Vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 55px;
}
.landing h1 {
  font-size: 3.2rem;
}
/* LANDING HOME PAGE */
/* LANDING HOME PAGE LOGO */
svg {
  width: 100px;
  height: 100px;
  margin: 22%;
  display: none;
  /* display: inline-block; */
}
/* LANDING HOME PAGE LOGO*/
.animation h1 {
  text-align: center;
  color: #fff;
  margin: 0 0 100px;
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: #e43725;
  padding: 20px 0;
}
.animation h1 b {
  font-weight: 700;
}
.made-with-love {
  margin-top: 20px;
  padding: 10px;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #f50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
/* NAVBAR -----------------------------------------------------------*/
.nav-item > .nav-link {
  font-size: 1.18rem;
  font-weight: 500;
}
.nav-item {
  margin: 0 11px;
}
.navbar {
  background-color: #fff !important;
}
/* NAVBAR ------------------------------------------------------------*/

/* BUTTONS--------------------------------------------------- */
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 49px;
  background: #59c7d6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #ffffff;
  border-color: transparent;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  width: 180px;
  height: 49px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #59c7d6;
  border-color: #59c7d6;
  font-weight: bold;
}
.btn3 {
  position: relative;
  bottom: 10%;
  align-items: center;
  margin-bottom: 5%;
  width: 180px;
  height: 49px;
  background: #59c7d6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  border-color: #59c7d6;
  font-weight: bold;
}
/* BUTTONS ---------------------------------------------------*/
#pattern {
  position: absolute;
  right: 10%;
}
.col1 {
  border: 1px solid gray;
  padding: 0%;
}

.pozicija {
  margin-top: 10%;
}

/* Image Gallery */
div.gallery {
  border: 1px solid #ccc;
  padding: 15px;
  background: #f7f7f7;
  border-radius: 2%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 332px;
  border-radius: 2%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 12px;
  float: left;
  width: 24.99999%;
}

<<<<<<< Updated upstream
@media only screen and (max-width: 1350px) {
  #blogSliki {
    width: 100%;
    margin: 1px 0%;
  }
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
=======
 .pozicija{
   margin-top: 10%;
 }

>>>>>>> Stashed changes
