.navigacija a {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 106.67%;
  /* or 15px */
  width: 100%;
  height: 3vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.03em;
  transition: all 0.5s;
  color: #ffffff;
  background: linear-gradient(90deg, #f47a61 0%, #f15f61 100%);
}
.navigacija a:hover {
  text-decoration: none;
  border-bottom: 8px solid #59c7d6;
}
.active {
  border-bottom: 8px solid #59c7d6;
}
@media only screen and (max-width: 430px) {
  .onSm {
    display: flex;
    justify-content: center;
  }
  .onSmNav {
    text-align: center !important;
  }
  .navigacija a {
    margin-bottom: 10px;
    height: 40px;
  }
}
